.users {
  width: 82%;
  padding: 40px;
  background: #f9fafb;
}

.users__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}



.users__header h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.users__table__box {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f3f4f6;
}

th {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  color: #374151;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

tr:hover td {
  background: #f9fafb;
}

.edit {
  width: 65px;
  height: 30px;
  border: none;
  background-color: #22c55e;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.edit:hover {
  background-color: #15803d;
}

.delete {
  width: 70px;
  height: 30px;
  border: none;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.delete:hover {
  background-color: #b91c1c;
}




.add-user-btn {
  width: 150px;
  height: 45px;
  background-color: #047857;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.add-user-btn:hover {
  background-color: #065f46;
  transform: scale(1.05);
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden { display: none; }

.modal-box {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
}

.modal-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}



